/SketchApp/xml/StartPathes-01.xml
/Assets/Textures
/Assets/ImageDataset/*
CORE/xml/StartSettingsClient.xml
WatchDog-AltePost/Settings.xml
help/csharp/ReferenceSoundGridUtils/bin/Debug/net8.0/ReferenceSoundGridUtils.dll
help/csharp/ReferenceSoundGridUtils/bin/Debug/net8.0/ReferenceSoundGridUtils.pdb
help/csharp/ReferenceSoundGridUtils/bin/Debug/net8.0/ReferenceSoundGridUtils.xml
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ref/ReferenceSoundGridUtils.dll
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.AssemblyInfo.cs
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.AssemblyInfoInputs.cache
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.assets.cache
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.csproj.AssemblyReference.cache
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.csproj.CoreCompileInputs.cache
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.dll
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.GeneratedMSBuildEditorConfig.editorconfig
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.pdb
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.sourcelink.json
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/ReferenceSoundGridUtils.xml
help/csharp/ReferenceSoundGridUtils/obj/Debug/net8.0/refint/ReferenceSoundGridUtils.dll
help/csharp/ReferenceSoundGridUtils/obj/project.assets.json
help/csharp/ReferenceSoundGridUtils/obj/project.nuget.cache
help/csharp/ReferenceSoundGridUtils/obj/ReferenceSoundGridUtils.csproj.nuget.dgspec.json
help/csharp/ReferenceSoundGridUtils/obj/ReferenceSoundGridUtils.csproj.nuget.g.props
/Assets/Image/*
/Assets/Sound/*
/Assets/toberemoved/*
/help/csharp/ReferenceSoundGridUtils/obj/*
.vs/
/CNTRL/BRAIN_PlayerLogging.csv
