<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE ROOT PUBLIC "" ""[]>
<DogConfig_ ReceivePort="1001, 1002, 1003, 1004" ShutDownHour="15" VVVVexeFile="C:\Program Files\vvvv\vvvv_gamma_6.7\vvvv.exe">
  <WatchedPatch>
    <Item>C:\Users\studi\Documents\AltePost\AltePostWien\research\system\WatchdogTest.vl</Item>
    <Item>C:\Users\studi\Documents\AltePost\AltePostWien\research\system\NDI\NDI Receive Simulator.vl</Item>
    <Item>C:\Users\studi\Documents\AltePost\AltePostWien\CORE\ENT-Content-Rendering-CropingColoms-local .vl</Item>
    <Item>C:\Users\studi\Documents\AltePost\AltePostWien\CORE\VVVVtoComfy-Commandor-sdxl.vl</Item>
  </WatchedPatch>
</DogConfig_>